/* Setup */
@font-face {
    font-family: 'ULTRAKILL';
    src: url('../font/VCR_OSD.ttf');
}

/* Variables */
:root {
    --primary: #fe0000;
    --shadow: #420600;
    --highlight: #fa7218;
    --textbox: #2b2a33;
}

html {
    height: 100vh;
}

body {
    font-family: 'ULTRAKILL';
    font-size: 20px;
    color: aliceblue;
    text-align: center;
    height: calc(100vh - 16px);
}

#siteBack {
    position: fixed;
    inset: 0;
    background-image: url('../img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -9999;
}

button {
    font-family: 'ULTRAKILL';
    font-size: 20px;
    width: 130px;
    height: 50px;
    background: linear-gradient(45deg, transparent 5%, var(--primary) 5%);
    border: 0;
    color: white;
    letter-spacing: 3px;
    border-top: solid var(--highlight) 4px;
    border-right: solid var(--shadow) 4px;
    filter: brightness(100%);
    transition: 0.3s;
    text-shadow: 2px 2px black;
}

button:hover {
    cursor: pointer;
    filter: brightness(70%);
}

canvas {
    width: calc(100vw - 2px - 20px - 16px); 
    max-width: 1800px;
    aspect-ratio: 1800 / 600;
    border: solid black 1px; 
    margin: 10px; 
    border-radius: 3px; 
}

/* File input */
#inputFile {
    width: 230px;
}

/* Grid */
.parent {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    row-gap: 10px;
    column-gap: 20px;
    width: calc(100% - 6rem);
    max-width: 950px;
}

.inputFileWrapper {
    flex: 0 1 0
}

.inputFileWrapper > button {
    margin-bottom: 10px;
    width: 100%;
}

.inputTextWrapper {
    flex: 1 1 0
}

.inputTextWrapper > input {
    margin-top: 6.5px;
    margin-bottom: 16.5px;
    width: calc(100% - 14px);
}

.controlBtnWrapper {
    flex: 0 1 0;
}

.controlBtnWrapper > button {
    margin-bottom: 10px;
}

.attributesTextbox {
    padding-top: 6.5px;
    margin-bottom: 16.5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

/* Text fields */
#inputBottom,
#inputTop {
    height: 20px;
}

input {
    border: none;
    outline: none;
    border-bottom: .2em solid var(--primary);
    border-radius: .2em .2em 0 0;
    padding: 7px;
    color: white;
    background-color: var(--textbox);
    font-family: 'ULTRAKILL';
    font-size: 18px;
    min-width: 0;
}

img {
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

img:hover {
    transition: 0.3s;
    filter: brightness(80%);
}

/* Modal box */
.bgs {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 20px;
    height: 60%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.bgs {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    overflow-y:scroll;
}

/* GitHub logo */
.git {
    position: absolute;
    width: 2.5rem;
    top: 100%;
    transform: translateY(calc(-100% - 10px));
    right: 10px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@media screen and (width <= 815px) {
    .parent {
        width: calc(100% - 20px);
    }
    
    #inputFile,
    button {
        width: 100%;
    }
    * {
        font-size: 1rem !important;
    }
}